
#top {
    position: relative;
    background-color: none;
    color: white;
    padding: 5px;
    height: 8em;
    margin: 0px 0px 10px 0px;
    with: 100%;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:hover {
    color: #c2dfef;
}

ul.menulist li {
    list-style: none;
    display:inline;
    padding-left: 10px;
    padding-right: 10px;
}

#login {
    text-align: center;
    margin: 0 auto;
}

.logoUMA{
    margin-top:  100px;
    padding-top: 100px
  
}

#piePag {
    position: fixed;
    width: 100%;
    background-color: none;
    color: #036fab;
    height: 4em;
    text-align: center;
}
